.col-lg-12 {
    background: #B7410E;
    border-radius: 5px;
}

.col-lg-8 {
    background: #B7410E;
    border-radius: 5px;
}

.col-lg-4 {
    background: #B7410E;
    border-radius: 5px;
}

.jumbotron{ 
	background: #B7410E;
	border-radius: 5px; 
}

.col-md-12 {
  background: #B7410E;
  border-radius: 5px;
}

#topbox {
  background: #B7410E;
  border-radius: 5px;
}

#Ironbeard {
  color: black
}